{% extends "HomeBundle::layout.html.twig" %}
{% block title "JobsPage" %}
{% block content %}	 
<div class="banner_1">   
   {{ include('HomeBundle::HomePage/search_form_single.html.twig') }}
</div>	
<div class="container">
    <div class="single">  
	   <!--left column--->	
	    <div class="col-md-4">
	      <div class="col_3">
	   	  {{ include('HomeBundle::HomePage/todays_jobs.html.twig') }}
		  </div>
	   	  <div class="col_3">
		  {{ include('HomeBundle::HomePage/jobs_by_category.html.twig') }}	   	  	
	   	  </div>
         </div>		  
    <!--end of left column--->		
	 <div class="col-md-8 single_right">
	    <h3>Fonctionnalités</h3>		
	    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
	   
	   <h5>Exigences</h5>   
	    <ul class="feature_list">
			<li>There are many variations of passages of Lorem Ipsum available.</li>
			<li>It is a long established fact that a reader.</li>
			<li>Nulla rutrum nisi mi, iaculis commodo nibh lobortis sed.</li>
			<li>Sed pulvinar, nunc vitae molestie dapibus, lacus dolor dignissim sapien.</li>
			<li>Pellentesque ipsum ex, imperdiet quis consequat sed, consectetur ut ante.</li>
			<li>Aliquam libero felis, mollis vitae elementum vel, bibendum eu tortor.</li>
			<li>Lorem ipsum dolor sit amet.</li>
		</ul>
		
		<h5>Avantages</h5>   
		<ul class="feature_list">
			<li>Aliquam rhoncus justo eget tellus scelerisque, at mollis mi aliquam.</li>
			<li>Quisque pretium convallis pulvinar.</li>
			<li>Nulla rutrum nisi mi, iaculis commodo nibh lobortis sed.</li>
			<li>Sed pulvinar, nunc vitae molestie dapibus, lacus dolor dignissim sapien.</li>
			<li>Pellentesque ipsum ex, imperdiet quis consequat sed, consectetur ut ante.</li>
			<li>Aliquam libero felis, mollis vitae elementum vel, bibendum eu tortor.</li>
			<li>Morbi rhoncus luctus interdum.</li>
		</ul>
     </div>
     <div class="clearfix"> </div>
 </div>
</div>


{% endblock %}