{% extends "HomeBundle::layout.html.twig" %}
{% block title "LoginPage" %}
{% block content %}
<div class="banner_1">
	{{ include('HomeBundle::HomePage/search_form_single.html.twig') }}
</div>	
<div class="container">
    <div class="single">  	      
	   <div class="form-container" >
        <h2><a href="{{ path('job_resume')}}">Return Home</a></h2>        
			
	   
    <h2>CV  Supprime avec Succes!</h2>


    </div>	
	
 </div>
</div>

{% endblock %}




